<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.binarywang.demo.spring.mapper.test.TestMapper">
	
	<resultMap id="BaseResultMap" type="test">
		<result column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>

	<select id="findList" resultMap="BaseResultMap">
		select id, name from test
	</select>
	
	<insert id="insert" parameterType="test" useGeneratedKeys="true" keyProperty="id">
		insert into test(name) values(#{name})
	</insert>
	
	<update id="update" parameterType="test">
		update test set name = #{name} where id = #{id}
	</update>
	
	<delete id="delete">
		delete from test where id = #{id}
	</delete>
</mapper>